.width-400 {
  width: 400px;
}

.height-400 {
  height: 400px;
}

.width-315{
    width: 315px;
}
.width-298{
    width: 298px;
}

.font-size-40{
    font-size: 40px;
}

.login-bg {
  background-image: linear-gradient(to bottom right, rgb(255, 0, 234), yellow);
  box-shadow: 5px 5px 4px;
}


.single-border{
    border:none;
    border-bottom: 1px solid black;
    
}

input:focus{
    border: none;
    border-bottom: 1px solid black;
    outline: none;
}