<div class=" mx-1 height-600">
    <div class="border border-sec d-flex justify-content-between h-10">

        <div class="d-flex">

            <div class="px-2 d-flex justify-content-center align-items-center">
                <img [src]="receiverUser.profileImage.url" class="rounded-circle width-40 height-40" alt=""
                    srcset="">
            </div>
            <div class="px-2 d-flex justify-content-center align-items-center">
                <strong> {{receiverUser.username}} </strong>
            </div>
        </div>

        <div routerLink="/seeProfile"
            [queryParams]="{uid: receiverUser.id, viewerId : loggedInUser.id}"
            class="p-4 d-flex justify-content-center align-items-center">
            <i class="fa-solid fa-circle-info font-size-25"></i>
        </div>



    </div>
    <div class="border border-sec h-90 p-2">
        <div class="h-90" style="overflow-y: auto; ">
            <div class="w-100" style="overflow-y: hidden; transform: rotate(180deg); min-height: 100%;">

                @for (msg of conversationMessages; track $index) {
               <div class="d-flex m-1 px-2"  style=" height: 30px; width: 100%; transform: rotate(180deg);" 
                   [ngClass]="msg.sender===loggedInUser.id ? [ 'justify-content-end'] : ['justify-content-start']">
   
                   <div class="max-w-50 rounded-5 py-2 px-3 d-flex align-items-center "
                       [ngClass]="msg.sender===loggedInUser.id ? [ 'bg-blue'] : ['bg-pink']"> {{ msg.message }}
                   </div>
               </div>
   
               }
           </div>
        </div>
        <div class="border border-sec rounded-5 h-10 d-flex  align-items-center ">

            <div class="w-10 d-flex justify-content-center align-items-center">
                <i class="fa-regular fa-face-smile font-size-25" (click)="openEmojiPicker()"></i>
                <emoji-picker class="light" #emojiPicker [ngClass]="{'visually-hidden' : this.hideEmoji}"
                    (emoji-click)="selectedEmoji($event)"></emoji-picker>

            </div>
            <div class="w-80">
                <form action="" (ngSubmit)="onSend(receiverUser.id)">
                    <input class="border border-0 w-100" [(ngModel)]="msg" name="msg" type="text"
                        placeholder="Message..." aria-label="Username" aria-describedby="basic-addon1"
                        (input)="getMessageType($event)">

                </form>
            </div>

            <div class="w-10 d-flex justify-content-center align-items-center">
                @if(msg === ''){
                pic
                }
                @else {
                <button class="btn btn-primary rounded-5" type="submit">Send</button>
                }


            </div>
        </div>

    </div>
</div>


