.width-40{
    width: 40px;
}

.height-40{
    height: 40px;
}

.height-600{
    height: 600px;
}

.w-80{
    width: 80%;
}

.w-10{
    width: 10%;
}

.h-75{
    height: 75%;
}

.h-25{
    height: 25%;
}

.h-10{
    height: 10%;
}

.h-90{
    height: 90%;
}

.font-size-25{
    font-size: 25px;
}

input:focus{
    border: none;
    border-bottom: 1px solid black;
    outline: none;
}

.max-w-50{
    max-width: 50%;
}

.bg-pink{
    background-color: rgb(238, 98, 231);
}

.bg-blue{
    background-color: rgb(85, 160, 209);
}


::-webkit-scrollbar {
    display: none;
}

.border-sec{
    border : 1px solid rgb(212, 200, 200);
}