<div class="container d-flex flex-column justify-content-center align-items-center">

    <!-- FOR SENDING REQUESTS -->
    <div class="container d-flex justify-content-center align-items-center">
        @for (user of users; track $index) {
        <div class="width-150">
            <div class="card m-1 p-1 ">


                <div class="d-flex flex-column justify-content-center align-items-center"
                    (click)="seeUser(user.id)">
                    <div class="p-2">
                        <img [src]="user.profileImage.url" class="width-45 height-45 rounded-circle" alt="" srcset="">
                    </div>
                    <div>
                        <div class="d-flex flex-column align-items-center justify-content-center">

                            <div>
                                {{user.username}}
                            </div>
                            <div>
                                {{user.full_name}}
                            </div>
                        </div>

                    </div>
                </div>
                <div class="d-flex align-items-center justify-content-center pt-1">
                    @if(reqsent[user.username]){
                    <button class="btn btn-light">Requested </button>
                    }
                    @else {
                    <button class="btn btn-sm btn-primary w-100"
                        (click)="sendRequest(user.id)"><small>Follow</small></button>
                    }
                </div>

            </div>
        </div>
        }
    </div>

    <!-- POST OF THE FOLLOWINGS -->
    <div>
        @for (userr of followings; track $index) {
        @if(userr.posts.length > 0){
        @for (post of userr.posts; track $index; let i=$index) {
        <div class="d-flex flex-column m-2">
            <div class="d-flex p-2 cursor-pointer" [routerLink]="['/seeProfile']"
                [queryParams]="{uid : post.accountHolderName}">
                <div>
                    <img [src]="userr.profileImage?.url" class="width-30 height-30 rounded-circle" alt="" srcset="">
                </div>
                <div class="ps-2">
                    {{userr.username}}
                </div>
            </div>
            <div>
                <div [id]="'carouselExample'+i" class="carousel slide carouselExample">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img [src]="post.media[0].url" class="d-block width-400 height-400" alt="...">
                        </div>

                        @if (post.media.length > 1) {
                        @for (image of post.media.slice(1); track $index) {
                        <div class="carousel-item">
                            <img [src]="image.url" class="d-block width-400 height-400" alt="...">
                        </div>
                        }
                        }
                    </div>

                    <ng-container *ngIf="post.media.length > 1">
                        <button [disabled]="currentImageIndex=== 0" (click)="prevImg()"
                            class="carousel-control-prev" type="button" [ngClass]="{'visually-hidden' : currentImageIndex==0}" [attr.data-bs-target]="'#carouselExample'+i"
                            data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button [disabled]="currentImageIndex===post.media.length-1" (click)="nextImg()" class="carousel-control-next"
                            type="button" [attr.data-bs-target]="'#carouselExample'+i" data-bs-slide="next" [ngClass]="{'visually-hidden' : currentImageIndex==post.media.length-1}">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </ng-container>

                </div>
            </div>
            <div class="cursor-pointer">
                <div>
                    <i [class]=" post.likes.includes(user.username) ? 'fa-solid fa-heart' : 'fa-regular fa-heart'"
                        (click)="likeToggle(post,user.username)"></i>
                </div>
                <div (click)="getPostLikes(post._id)" data-bs-toggle="modal" data-bs-target="#likesModal">
                    {{post.likes.length}} likes
                </div>
            </div>
            <div>
                {{post.caption}}
            </div>
        </div>

        }
        }
        }
        @empty {
            nothing
        }
    </div>


    <!-- LIKES MODAL -->
    <div class="modal fade" id="likesModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" style="width: 300px;" >
          <div class="modal-content">
          @for (user of likerss; track $index) {
            <div class="d-flex justify-content-between">
                <div class="d-flex justify-content-center align-items-center p-1">
                    <img style="height: 30px; width: 30px; border-radius: 50%;" [src]="user.profileImage.url" alt="" srcset="">
                </div>
                <div  class="d-flex flex-column justify-content-center align-items-center p-1">
                    <div> {{user.username}} </div>
                    <div> {{user.full_name}} </div>
                </div>
                <div class="d-flex justify-content-center align-items-center p-1">
                    <button class="btn btn-sm btn-secondary" data-bs-dismiss="modal" [routerLink]="'/message'" [queryParams]="{receiverName : user.username}"> Message </button>
                </div>
            </div>
          }
        
          </div>
        </div>
      </div>

</div>