.width-100 {
  width: 100px;
}

.height-100 {
  height: 100px;
}

.width-250 {
  width: 250px;
}

.height-250 {
  height: 250px;
}

.width-400 {
  width: 400px;
}

.height-400 {
  height: 400px;
}

.fs-40 {
  font-size: 40px;
}

.modal-content .img {
  background-color: transparent !important;
  border: none !important;
  box-shadow: none !important;
}

.image-container {
  position: relative;
  display: inline-block4
  
}

.camera-icon {
  position: absolute;
  bottom: -7px;
  right: -3px;
  background-color: rgb(255, 255, 255);
  padding: 10px;
  border-radius: 50%;
}

.camera-icon i {
  position: relative;
}

.carousel {
  width: 400px; /* Limit the carousel width to 400px */
  height: 400px; /* Limit the carousel height to 400px */
  overflow: hidden; /* Hide overflow content */
}
