@if(user){

<div class="container d-flex flex-column justify-content-center align-items-center">
   
    <div class="container d-flex justify-content-center align-items-center">
        <div class=" d-flex flex-column justify-content-center align-items-center">
            <div class="p-1 image-container">
                <img class="width-100 height-100 rounded-circle" [src]="user.profileImage.url" alt="" srcset="">
                <div class="d-flex justify-content-end m-0 camera-icon" data-bs-toggle="modal" data-bs-target="#updatePic">
                    <i class="fa-solid fa-camera" style="font-size: 25px;"></i>
                </div>
            </div>
            <div class="p-1">
                {{user.username}}
            </div>
        </div>

        <div class="d-flex align-items-start">
            <div class="p-2 d-flex flex-column justify-content-center align-items-center">
                <div>{{user.posts.length}}</div>
                <div>Posts</div>
            </div>
            <div class="p-2 d-flex flex-column justify-content-center align-items-center cursor-pointer"
                [routerLink]="['/user/route','followers']" [queryParams]="{user : user._id}">
                <div>{{user.followers.length}}</div>
                <div>Followers</div>
            </div>
            <div class="p-2 d-flex flex-column justify-content-center align-items-center cursor-pointer"
                [routerLink]="['/user/route','followings']" [queryParams]="{user : user._id}">
                <div>{{user.followings.length}}</div>
                <div>Following</div>
            </div>
        </div>
    </div>

    <div class="container d-flex justify-content-center align-items-center pt-4">

        @for (post of posts; track $index) {
        <div class="d-flex flex-column m-1">
            <div>
                <img (click)="showPost(post._id)" [src]="post.media[0].url" class="width-250 height-250">
            </div>

        </div>
        }
        @empty {
            <div class="d-flex justify-content-center align-items-center pt-5 mt-5" >
                <div>
                    <div class="d-flex justify-content-center align-items-center">
                        <i class="fa-solid fa-camera" style="font-size: 60px;"></i>
                    </div>
                    <div style="font-size: 40px;">
                        No Posts Yet
                    </div>
                </div>
            </div>
        }
    </div>

</div>


<!-- IMAGE Modal -->
<div #showOnePost class="modal fade" id="showPostModal" tabindex="-1" aria-labelledby="showPostModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content img bg-transparent border border-0">
            <div>
                <div class="d-flex justify-content-center align-items-center">
                    @if(onePost !== undefined){
                    <div>
                        <button class="p-1 fs-40 text-secondary bg-transparent border border-0" (click)="prevImage()"
                            [disabled]="currentImageIndex<=0">
                            <i class="fa-solid fa-chevron-left"></i>    
                        </button>
                    </div>
                    <div class="p-1 ">
                        <div class="d-flex justify-content-end">
                            <button class="btn txt-blue font-size-1" type="button" id="dropdownMenuImage" data-bs-toggle="dropdown"
                                aria-expanded="false" >
                                <i class="fa-solid fa-ellipsis-vertical"></i>
                            </button>
                            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuButton">
                                <ul class="dropdown-item-text">
                                    <li class="dropdown-item no-list-style">
                                        <a>
                                            <span class="cursor-pointer" (click)="deletePost(onePost._id)">Delete Post</span>
                                        </a>
                                    </li>
                                    <li class="no-list-style dropdown-item">
                                        <a class="text-decoration-none text-danger bg-hover cursor-pointer" >Edit Post</a>
                                    </li>
                                    
                                </ul>
                            </div>
                
                        </div>



                        <div>
                            <img class="width-500 height-500" [src]="onePost.media[currentImageIndex].url"
                                alt="image not available" srcset="">
                        </div>
                        <div class="bg-dark text-light">
                           
                            <div>
                                <i [class]=" liked.isLiked ? 'fa-solid fa-heart' : 'fa-regular fa-heart'" (click)="likeToggle(onePost,user.username,liked.isLiked)"></i> {{onePost.likes.length}}
                            </div>
                            <div>
                                {{onePost.caption}}
                            </div>
                        </div>
                    </div>
                    <div>
                        <button class="p-1 fs-40 text-secondary bg-transparent border border-0"
                            [disabled]="currentImageIndex == onePost.media.length-1" (click)="nextImage()"> 
                            <i class="fa-solid fa-chevron-right"></i>
                        </button>
                    </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

<!-- UPDATE PROFILE PICTURE MODAL -->
<div id="updatePic" class="modal fade" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Modal title</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div>
            <label for="">Select a file</label>
            <input type="file" class="form-control" src="" alt="">
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>



}