@if(loading){
<div class="container d-flex justify-content-center align-items-center mt-5 pt-5">
    <div class="spinner-border text-secondary pt-5 mt-5"  role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
</div>
}
@else {
<div class="container d-flex justify-content-center align-items-center mt-5 pt-5">
    @if(!emailSent){
    <div class="card d-flex justify-content-center align-items-center p-5">
        <div class="d-flex flex-column justify-content-center align-items-center">
            <i class="fa-solid fa-lock" style="font-size: 105px;"></i>
            <span class="fw-bold pt-2" style="font-size: 1.3rem;">Trouble logging in?</span>
            
        </div>
        <div class="d-flex justify-content-center align-items-center pt-4">
            <form #forgotPasswordForm="ngForm" (ngSubmit)="onSend(email)" action="">
                <div>

                    <label for="" class="form-label"><small>Enter your email address </small></label>
                    <input name="email" [(ngModel)]="email" type="email" class="form-control" required>
                </div>
                <div class="d-flex justify-content-center align-items-center pt-4">
                    <button type="submit" class="btn btn-sm btn-primary" [disabled]="!forgotPasswordForm.valid"> Send
                        Email </button>
                </div>
            </form>
        </div>
    </div>
    }
    @else {
    <div class="card d-flex justify-content-center align-items-center p-5">
        <div>
            <i class="fa-solid fa-lock" style="font-size: 105px;"></i>
        </div>
        <div class="d-flex justify-content-center align-items-center pt-4">
            <form #verifyPasswordForm="ngForm" (ngSubmit)="onVerify(otp)" action="">
                <div>

                    <label class="form-label"><small>Enter your OTP</small></label>
                    <input name="otp" [(ngModel)]="otp" type="text" class="form-control" required>
                </div>
                <div class="d-flex justify-content-center align-items-center pt-4">
                    <button type="submit" class="btn btn-sm btn-primary" [disabled]="!verifyPasswordForm.valid"> Verify
                    </button>
                </div>
            </form>
        </div>
    </div>
    }
</div>
}