<div class="container d-flex">

    <div class="w-25 border border-secondary mx-1">

    </div>

    <div class="w-75 border border-secondary mx-1 height-500">
        <div class="border border-secondary d-flex h-10">
            <div class="d-flex">
                <div>
                    <img [src]="receiverUser.profileImage.url" class="rounded-circle width-20 height-20" alt=""
                        srcset="">
                </div>
                <div>
                    {{receiverUser.username}}
                </div>


            </div>
        </div>
        <div class="border border-secondary h-90">

            <div class="border border-primary h-90">

            </div>
            <div class="border rounded-5 border-danger h-10">
                <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
                    <span class="input-group-text" id="basic-addon1">o</span>
                  </div>
<input type="text" class="form-control" placeholder="Message">
            </div>

        </div>

    </div>